# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
.DS_store

# Baselines repo
ucate/
CompBioAndSimulated_Datasets/
config_not_used/

# Unit test / coverage reports
.cache


# Jupyter Notebook
.ipynb_checkpoints
.ipynb

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


