# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
.DS_store

# Baselines repo
CompBioAndSimulated_Datasets/
config/
config_debug_/
config_used/
config_use_range_p_/
config_02/

# Unit test / coverage reports
.cache


# Jupyter Notebook
.ipynb_checkpoints
.ipynb

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


